/*///////////////////////// Wrapper styles /////////////////////////*/
#body {
    min-height: 					97.6%;
    position: 						relative;
}
#wrapper {
    clear: 						both;
    font-family: 				Georgia,"Times New Roman",Times,serif;
    margin: 					0 auto;
    padding-bottom: 			100px;
    position: 					relative;
}