# archivo de conexion de base de datos

html/core/conn.php
.DS_Store
# phpintel

.phpintel/

html/assets/images/press/*
html/assets/images/product
/images/

html/vendor/*
/html/assets/images/press.zip
