# archivo de conexion de base de datos
html/config.php

#parameters
html/config.ini

# phpintel
.phpintel/

#imagenes
html/assets/images/*

#librerias
html/vendor/*

#composer
html/composer.phar

#otros
._.DS_Store
html/._.DS_Store
.DS_Store

#ignorando todos los archivos
html/assets/data/noticias/

#ignorando archivo comprimido de empresas 
html/assets/data/empresas.tar.gz

#ignorando los tarifarios
html/assets/data/tarifarios/

#ignorando las portadas cartones
html/assets/data/portadas/cartones/
#ignorando las portadas portadas_financieras
html/assets/data/portadas/portadas_financieras/
#ignorando las portadas primeras_planas
html/assets/data/portadas/primeras_planas/
#ignorando las columnas columnas_politicas
html/assets/data/columnas/columnas_politicas/
#ignorando las columnas columnas_financieras
html/assets/data/columnas/columnas_financieras/