# archivo de conexion de base de datos
html/config.php

#parameters
html/config.ini

# phpintel
.phpintel/

#imagenes
html/assets/images/*

#librerias
html/vendor/*

#composer
html/composer.phar

#otros
._.DS_Store
html/._.DS_Store
.DS_Store

#ignorando todos los archivos
html/assets/data/noticias/

#ignorando archivo comprimido de empresas 
html/assets/data/empresas.tar.gz

#ignorando los tarifarios
html/assets/data/tarifarios/