
.block-send h3, a {
	display: inline-block;
}

.invisible{
	display: none;
}

.mb-10{
	margin-bottom: 10px;
}

.mb-20{
	margin-bottom: 20px;
}

.ml-20{
	margin-left: 20px;
}

.mt-10{
	margin-top: 10px;
}

.mt-20{
	margin-top: 20px;
}

.muestra{
	position: relative;
}

.muestra a{
    cursor: pointer;
    margin: .5em 1em;
	position: absolute;
    right: 0;
    top: 0;
}

.muestra:hover{
	background-color: #D8FACE;
}

.resultados.clientes{
    display: none;
}



/*.padding60{
	padding-bottom: 60px;
}*/