
.block-send h3, a {
	display: inline-block;
}

.inline{
  /*background-color: red;*/
}

    .fuente, .file{
        margin: 10px 5px 10px 5px;
        padding: 10px 5px 10px 5px;
    }

    

.invisible{
	display: none;
}

.mb-10{
	margin-bottom: 10px;
}

.mb-20{
	margin-bottom: 20px;
}

.ml-20{
	margin-left: 20px;
}

.mt-10{
	margin-top: 10px;
}

.mt-20{
	margin-top: 20px;
}

.muestra{
	position: relative;
}

.muestra a{
    cursor: pointer;
    margin: .5em 1em;
	position: absolute;
    right: 0;
    top: 0;
}

.muestra:hover{
	background-color: #D8FACE;
}

.resultados.clientes{
    display: none;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

/*barra estado*/
.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

/*.padding60{
	padding-bottom: 60px;
}*/