.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 25px;
    margin: -15px 0 0 0;
    padding: 1px;
    height: 25px;
    background: url(../images/close_icon.png) no-repeat;
    border: 0px;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 0px 0 0 0;
    padding: .3em 2em 0 .4em;
}



.alert-info {
    color: #666666;
}

.ui-widget-header {
    border: 0px solid #aaaaaa;
    background: none;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
}

.ui-widget-content {
    border: 0px solid #aaaaaa;
    background: #fff;
    color: #666666;
    border-radius: 0;
    padding: 10px;
    width: 300px !important;
}

#input-imagen_thumbnail, #input-imagen{
    display: none;
}
.product_main .thmb{
    background-color: #259dab;
}
.product_main .fm-title a{
    color: #fff;
    overflow-x: inherit;
}
.product_main .text-muted{
    color:#fff;
}
