/*///////////////////////// Header styles /////////////////////////*/
#main-header {
    height: 				80px;
    margin: 				0 auto;
    max-width: 				1560px;
    min-width: 				900px;
    position: 				relative;
}
	#main-header h1 {
	    background: 				url(../images/logo.png) repeat scroll 0 0;
	    height: 					29px;
	    margin: 					30px auto 20px;
	    text-indent: 				-9999px;
	    width: 						387px;
	}