.red {
  color: #ff1a3e; }

body, html {
  height: 100%; }

body {
  background-color: #1976D2;
  font-family: "geomanist_regularregular", Arial, Helvetica, sans-serif;
  color: #929CA4; }

header {
  overflow: hidden;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: black;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; }
  header nav.menu {
    float: right;
    margin-top: 25px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
    header nav.menu ul {
      overflow: hidden;
      list-style-type: none;
      margin: 0;
      padding: 0; }
    header nav.menu li {
      float: right; }
      header nav.menu li a {
        padding: 10px;
        font-family: "geomanistbold", Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #929CA4 !important;
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out; }
        @media screen and (max-width: 960px) {
          header nav.menu li a {
            padding: 10px 5px; } }
        header nav.menu li a:hover {
          text-decoration: none;
          color: #fff !important; }
      header nav.menu li a.login {
        border: solid 1px #929CA4; }
      header nav.menu li a.active {
        color: #ff1a3e !important; }
  header nav.mobile ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header nav.mobile ul li a {
      font-family: "geomanistbold", Arial, Helvetica, sans-serif;
      font-size: 12px;
      display: block;
      padding: 20px 0;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      color: #929CA4 !important; }
    header nav.mobile ul > li:last-child a {
      padding-bottom: 40px; }
  header figure {
    margin-top: 8px;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
    header figure img {
      width: 200px;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
  header.active {
    height: 60px; }
    header.active nav {
      margin-top: 10px; }
    header.active img {
      width: 120px; }
    header.active a {
      padding: 10px 14px; }
      @media screen and (max-width: 960px) {
        header.active a {
          padding: 10px 5px; } }

.navbar {
  padding: 0 !important;
  float: right;
  margin-top: 25px; }

.op-hero {
  background-image: url("../img/digitalagency.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 300px 0 200px;
  overflow: hidden;
  background-color: #000; }
  .op-hero .hero-content {
    width: 100%;
    color: #fff; }
    .op-hero .hero-content h1 {
      font-size: 58px;
      text-transform: uppercase;
      font-family: "geomanistbold", Arial, Helvetica, sans-serif;
      font-weight: normal; }
    .op-hero .hero-content h1 + div {
      width: 700px;
      border-bottom: dotted 1px #fff;
      margin: 0 auto;
      margin-bottom: 20px; }
    .op-hero .hero-content h2 {
      font-size: 18px;
      font-weight: normal; }

.op-services {
  width: 100%;
  padding: 90px 0;
  background-color: #D9DEE2; }
  .op-services article {
    background-color: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    min-height: 540px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
    .op-services article:hover {
      -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.4);
      -moz-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.4);
      box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.4); }
  .op-services h3 {
    font-family: "geomanistbold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #1976D2; }
  .op-services figure {
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../img/radio.jpg");
    background-position: center center;
    background-size: cover;
    padding: 90px 0;
    background-image: url("../img/radio.jpg"); }
    .op-services figure.bg-1 {
      background-image: url("../img/tv.jpg"); }
    .op-services figure.bg-2 {
      background-image: url("../img/newspapper.jpg"); }
    .op-services figure.bg-3 {
      background-image: url("../img/websites.jpg"); }
    .op-services figure div {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border: solid 5px #fff;
      text-align: center;
      line-height: 100px; }

.owl-one .item {
  padding: 10px; }

.op-we {
  background-color: #1976D2;
  padding: 90px 0 0 0;
  color: #FFF; }
  .op-we h3 {
    margin-top: 0;
    font-family: "geomanistbold", Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-transform: uppercase; }
    @media screen and (max-width: 960px) {
      .op-we h3 {
        margin-top: 0PX; } }
  @media screen and (min-width: 768px) {
    .op-we .adjust {
      position: relative; } }
  @media screen and (min-width: 768px) {
    .op-we img {
      position: absolute;
      bottom: 0; } }
  .op-we .btn-white {
    margin-bottom: 60px; }

.btn-white {
  color: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  border: solid 2px #fff;
  background: none;
  padding: 15px 30px;
  margin-top: 10px;
  font-size: 12px;
  font-family: "geomanistbold", Arial, Helvetica, sans-serif;
  cursor: pointer; }

.op-analysis {
  background-color: #fff;
  padding: 90px 0;
  background-image: url("../img/analysis.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff; }
  .op-analysis h4 {
    margin-top: 30px;
    font-family: "geomanistbold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px; }
  .op-analysis h4 + div {
    width: 100%;
    border-bottom: dotted 1px #fff;
    margin-bottom: 20px; }

.op-icons {
  width: 100%;
  color: #1976D2;
  background-color: #fff;
  text-align: center; }
  .op-icons .icon {
    margin-top: 20px; }
  .op-icons .item {
    padding: 60px 0;
    width: 100%;
    cursor: pointer; }
    .op-icons .item.active {
      color: #ff1a3e; }

.op-clientes {
  background-color: #D9DEE2;
  padding: 60px; }
  .op-clientes h3 {
    margin-top: 30px;
    font-family: "geomanistbold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px; }

#map {
  width: 100%;
  height: 500px; }

.op-icons-mark {
  width: 100%;
  color: #fff;
  background-color: #1976D2; }
  .op-icons-mark .icon {
    margin-top: 20px; }
  .op-icons-mark .item {
    padding: 60px 0;
    width: 100%; }

footer {
  background-color: #000;
  min-height: 120px; }
  footer p {
    font-size: 12px;
    font-family: "geomanistbold", Arial, Helvetica, sans-serif; }
  footer .legal {
    margin-top: 55px; }
  footer .legal-spacer {
    margin: 0 5px; }
  footer a {
    text-decoration: none;
    color: #fff; }
  footer a:hover, footer footer a:active, footer footer a:focus {
    text-decoration: none;
    color: #429BD5; }
  footer .social {
    margin-top: 30px; }
    @media screen and (max-width: 540px) {
      footer .social {
        margin-bottom: 30px; } }
    footer .social div {
      width: 60px;
      height: 60px;
      font-size: 18px;
      text-align: center;
      line-height: 60px;
      margin-left: 1px;
      margin-bottom: 1px;
      float: right;
      color: #FFF; }
      @media screen and (max-width: 540px) {
        footer .social div {
          float: left; } }
  footer .social a, footer .social a:hover {
    color: #fff;
    display: block; }
  footer .social-fb {
    background-color: #3b5998; }
  footer .social-tw {
    background-color: #00aced; }
  footer .social-sc {
    background-color: #ff7700; }
  footer .social-yt {
    background-color: #c4302b; }

.top {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #1976D2;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff; }
  .top:hover {
    background-color: #ff1a3e; }
  .top.active {
    display: block; }
