/*//////////////////////// Estilos wrapper ////////////////////////*/
#wrapper
{
    /*min-width: 1150px;*/
    margin: 0 auto;
    font-family: Georgia, "Times New Roman" , Times, serif;
    clear: both;
    position: relative;
    /*min-height: 300px;*/
    padding-bottom: 100px;
}
.breadcrumb
{
    margin: 0 0 25px 0;
    font-size: 11px;
}
.breadcrumb.vertical
{
    margin: 25px 0 25px 10%;
    
}
.breadcrumb span
{
    /*color: #807562; Modificado UB*/
    color:#D4D1CB;
}
.breadcrumb select
{
    margin-top: 10px;
    width: 235px;
}
.breadcrumb a
{
    color: #EAE6DF;
    text-decoration: none;
}
.breadcrumb a:hover
{
    color: #807562;
}
/*//////////////////////// Estilos listado ////////////////////////*/
.listado
{
    margin: 0 20%;
    position: relative;
}

.list-item
{
    margin-bottom: 60px;
}
.list-item .img-listado
{
    width: 32%;
    float: left;
}
.list-item .texto-listado
{
    width: 63%;
    float: right;
    font-size: 12px;
}
.list-item .texto-listado h2
{
    font-size: 21px;
    padding: 15px 5px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: normal;
    border-top: 1px solid #a79a8e;
    border-bottom: 1px solid #a79a8e;
}
.list-item .texto-listado a
{
    margin-bottom: 10px;
    display: block;
}
.list-item .texto-listado a.boton
{
    display: inline-block;
}

.texto-listado .separador {
    border-bottom: 1px solid #d4d1cb;
    margin-bottom: 10px;
    padding: 0 5px;
}
.texto-listado .separador p {
   line-height: 1.5em;
   font-family: Georgia,"Times New Roman",Times,serif;
}