// Product Detail Styles

//variables
// colores
$breadcrumb-on: #5f4b2b;
$breadcrumb-off:#a39a8a;
$main-branding:#807562; //café oscuro de logotipo
$sec-branding:#cdc4b3; //café claro de logotipo

//margenes
$padding-general:20px;
$margen-general: 20px;

//fonts
$main-font: Verdana,Geneva,sans-serif;
$sec-font: Georgia,"Times New Roman",Times,serif;

//generales
.clear{
	clear: both;
}
h2{
	&.product-title{
		font-size: 22px;
		text-transform: uppercase;
		border-top: 1px solid #D4D1CB;
		border-bottom: 1px solid #D4D1CB;
		text-align: center;
		padding: $padding-general 0;
		margin-bottom: $margen-general;
		font-weight: lighter;
	}
}
.product-note p{
	font-family: $main-font;
	font-size: 7px;
}
//Buttons
a{
	color: $main-branding;
	&:hover{
		color: $main-branding;
	}
}
.general-link{
	font-weight: bolder;
}
.general-btn{
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 10px;
	border: 1px solid $main-branding;
	text-align: center;
	&:hover{
		background: lighten($sec-branding, 18%);
		color: $main-branding;
	}
}
//
.breadcrumb{
	margin: 0 0 25px 0;
	font-size: 11px;
	a, span{
		color:$breadcrumb-off;
		&:hover{
			color: $breadcrumb-on;
		}
	}
}
.product{
	padding:$padding-general;
}
#product-image{
	float: left;
	width: 53%;
	img{
		min-width: 50%;
		margin: 0 auto;
		display: block;
	}
	.imgCuadrada{
		margin-top: 50px;
	}
}
#product-info{
	float: right;
	width: 45%;
	.features{
		font-family: $main-font;
	}
	.sec-features{
		border-bottom: 1px solid #D4D1CB;
		padding-bottom: 10px;
		margin-bottom: $margen-general;
		h2{
			&.product-title{
				border-top: 0;
				font-family: $sec-font;
				text-transform: none;
			}	
		}
	}
	.related{
		text-align: center;
		h2{
			font-family: $main-font;
			font-weight: lighter;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: $margen-general;
		}
		.rel{
			width: 20.33%;
			display: inline-block;
			margin: 0 $margen-general;
		}
	}
}
.detail-nav{
	margin-bottom: $margen-general;
	font-size: 13px;
	a{
		&:hover{
			color: $breadcrumb-on;
		}
		&.see-all{
			float: right;
		}
	}
}
.share-product{
	margin-bottom: $margen-general;
	a{
		font-family: $main-font;
		font-size: 12px;
		text-transform: uppercase;
		margin-right: 15px;
		display: inline-block;
		i{
			margin-right: 5px;
		}
	}
}
.post-actions{
	border-top:1px solid $sec-branding;
	font-family: $main-font;
	font-size: 10px;
	a{
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 20px 2px 0;
	}
}
.variations{
	border-bottom:1px solid $main-branding;
	padding: $padding-general;
	margin-bottom: $margen-general;
	.colors{
		width: 50%;
		float: left;
		h2{
			font-family: $main-font;
			font-weight: lighter;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		img{
			min-width: initial;
			margin-right: $margen-general;
		}
	}
}
.product-note{
	margin-bottom: 15px;
	padding-top: 10px;
	clear: both;
	border-top: 1px solid $sec-branding;
}
.separator{
	border-bottom: 1px solid $sec-branding;
	padding-bottom: 10px;
	margin-bottom: 20px;
	h3{
	    border-bottom: 1px solid #807562;
	    font-weight: normal;
	    margin: -5px -5px 15px 0;
	    padding: 0 5px 5px;
	    font-family: $main-font;
	    font-size: 12px;
	}
	&.vistas{
		a{
			display: inline-block;
			margin: 0 10px 10px;
		}
	}
}