/*///////////////////////// Footer styles /////////////////////////*/
#main-footer {
    bottom: 			0;
    height: 			100px;
    left: 				0;
    position: 			absolute;
    width: 				100%;
    background: 		#fff;
}
	#main-footer p {
	    font-size: 10px;
	    padding: 30px 250px;
	    text-align: center;
	}
	#inner-footer {
	    margin: 0 auto;
	    max-width: 1560px;
	    min-width: 900px;
	    position: relative;
	}
	#newsletter{
	    background: 		rgba(0, 0, 0, 0) url("../images/logo-be-the-first.png") no-repeat scroll left top;
	    height: 			60px;
	    left: 				25px;
	    padding-left: 		104px;
	    position: 			absolute;
	    top: 				10px;
	    width: 				96px;
	}
		#newsletter input[type="email"] {
		    border: 			2px solid #cbcbc4;
		    height: 			21px;
		    margin: 			2px 0;
		    padding: 			0 5px;
		    width: 				72px;
		}
		#newsletter input[type="submit"] {
		    background: 				#c9c3ba none repeat scroll 0 0;
		    border: 					medium none;
		    color: 						#807562;
		    height: 					25px;
		    margin: 					0;
		    padding: 					0 5px;
		    text-align: 				left;
		    width: 						86px;
		}

/*///////////////////////// Social media styles /////////////////////////*/
#social-media{
    position: 				absolute;
    right: 					0;
    top: 					20px;
    width: 					185px;
}
#social-media .tagline{
	position: 				absolute;
	top: 					8px;
	left:  					-70px;
	font-family:  			Georgia,"Times New Roman",Times,serif;
}
#social-media a{
    font-size: 12px;
    text-decoration: none;
    color: #807562;
    clear: both;
    display: block;
    width: 100%;
}
	#social-media a.btn-social{
	    width: 29px;
	    height: 28px;
	    display: block;
	    background: url(../images/btn-redes-sociales.png);
	    float: left;
	    text-indent: -9999px;
	    clear: none;
	    margin:3px 8px 3px 0;
	}
	#social-media a.btn-social.facebook:hover{
	    background-position: 0 28px;
	}
	#social-media a.btn-social.twitter{
	    background-position: -29px 0;
	}
	#social-media a.btn-social.twitter:hover{
	    background-position: -29px 28px;
	}
	#social-media a.btn-social.pinterest{
	    background-position: -58px 0;
	}
	#social-media a.btn-social.pinterest:hover{
	    background-position: -58px 28px;
	}
	#social-media a.btn-social.instagram{
	    background-position: -87px 0;
	}
	#social-media a.btn-social.instagram:hover{
	    background-position: -87px 28px;
	}
	#social-media a.btn-social.dh{
	    background-position: -116px 0;
	}
	#social-media a.btn-social.dh:hover{
	    background-position: -116px 28px;
	}

