/*//////////////////////// Estilos wrapper ////////////////////////*/
#wrapper
{
    margin: 0 auto;
    font-family: Georgia, "Times New Roman" , Times, serif;
    clear: both;
    position: relative;
    padding-bottom: 100px;
}
.breadcrumb
{
    margin: 0 0 25px 0;
    font-size: 11px;
}
.breadcrumb.vertical
{
    margin: 25px 0 25px 10%;
    
}
.breadcrumb span
{
    color:#D4D1CB;
}
.breadcrumb select
{
    margin-top: 10px;
    width: 235px;
}
.breadcrumb a
{
    color: #EAE6DF;
    text-decoration: none;
}
.breadcrumb a:hover
{
    color: #807562;
}
/*//////////////////////// Estilos acerca ////////////////////////*/
.acerca-principal-quienes
{
    width: 55%;
    float: left;
    font-size: 14px;
    text-align: center;
}
.acerca-principal-quienes.full
{
    width: 55%;
    float: left;
    font-size: 21px;
    margin-left: 0;
}
.acerca-secundario-quienes
{
    width: 40%;
    float: right;
    margin-bottom: 10px;
}
.acerca-secundario-quienes h2
{
    font-size: 24px;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
    border-top: 1px solid #D4D1CB;
    border-bottom: 1px solid #D4D1CB;
    text-transform: uppercase;
}

.acerca-secundario-quienes input[type="text"], .acerca-secundario-quienes input[type="email"], .acerca-secundario-quienes input[type="password"]
{
    width: 88%;
}
.acerca-secundario-quienes input.mediano[type="text"], .acerca-secundario-quienes input.mediano[type="email"]
{
    width: 60%;
}
.acerca-secundario-quienes input.mediano2[type="text"], .acerca-secundario-quienes input.mediano2[type="email"]
{
    width: 45%;
}
.acerca-secundario-quienes input.full[type="text"], .acerca-secundario-quienes input.full[type="email"]
{
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

/*//////////////////////// Estilos registro ////////////////////////*/
#wrapper.registro .acerca-principal-quienes
{
    width: 55%;
    margin-left: 0;
}
.acerca-principal-quienes img
{
    margin-bottom: 10px;
}
.inicio-sesion
{
    margin: 0 0 0 15%;
}
.inicio-sesion p
{
    text-align: center;
    margin: 30px 0;
}
.inicio-sesion .registrarse
{
    background: url(../images/fondoModuloRegistrarse.png) top center no-repeat;
    height: 68px;
    padding: 25px 0;
    margin-bottom: 45px;
}
.inicio-sesion .registrarse p
{
    margin: 0;
}
.inicio-sesion .registrarse a
{
    display: block;
    margin: 0 auto;
    width: 210px;
    line-height: 35px;
    background: #c9c3ba;
    border: 1px solid #a09380;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.iniciar-sesion
{
    background: #c9c3ba;
    border: 1px solid #a09380;
    color: #fff;
    padding: 0 15%;
}
.iniciar-sesion h2
{
    border: none;
    margin-bottom: -15px;
    text-transform: uppercase;
    font-weight: normal;
}
.iniciar-sesion h3
{
    border: none;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    background: url(../images/fondoTituloModuloInicioSesion.png) bottom repeat-x;
    padding-bottom: 5px;
}
.iniciar-sesion input[type="submit"]
{
    display: block;
    margin: 0 auto;
    width: 120px;
}
.acerca-secundario-quienes .iniciar-sesion input[type="password"], .acerca-secundario-quienes .iniciar-sesion input[type="text"]
{
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}
.iniciar-sesion label
{
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
}
.iniciar-sesion a
{
    display: block;
    color: #FFF;
    text-align: center;
    background: url(../images/fondoTituloModuloInicioSesion.png) top repeat-x;
    margin: 5px 0 10px;
    padding-top: 5px;
}
#wrapper .registro .acerca-principal-quienes
{
    width: 45%;
    margin-left: 10%;
}
.popup-am
{
    background: none repeat scroll 0 0 #C9C3BA;
    border: 1px solid #A09380;
    color: #FFFFFF;
    padding: 5%;
    height: auto;
}

.popup-am h2
{
    font-family: Georgia, "Times New Roman" ,Times,serif;
    background: url("../images/fondoTituloModuloInicioSesion.png") repeat-x scroll center bottom transparent;
    border: medium none;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.popup-am h3
{
    font-family: Georgia, "Times New Roman" ,Times,serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.popup-am p
{
    text-align: center;
}

.popup-am p.big
{
    padding-top: 10px;
    min-height: 50px;
}
.hide
{
    display: none;
}
