<!doctype html>
<html><head>
<meta charset="UTF-8">
<title>Alfonso Marina</title>

<!-- Meta tags de Facebook (Open Graph) -->
<!-- Con esta etiqueta declaramos el título que queremos que contenga al darle share -->
<meta property="og:title" content="Denumeris" />
<!-- Con esta etiqueta mostramos una imagen al momento de dar share en facebook -->
<meta property="og:image" content="" />
<!-- Con esta etiqueta mostramos el nombre de nuestro sitio web al momento de dar share en facebook -->
<meta property="og:site_name" content="Denumeris Interactive" />
<!-- Con esta etiqueta mostramos una descripción acerca de lo que trata nuestra página web al momento de dar share en facebook -->
<meta property="og:description" content="En Denumeris hacemos cosas" />

<!-- Corre el sitio en modo full-screen dentro de los móbiles que lo soportan. -->
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- Hace que la barra de status aparezca negra con texto blanco en iphones. -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Deshabilita la detección automática de números de teléfono, es una cuestión de seguridad. -->
<meta name="format-detection" content="telephone=no">

<!-- Pone el sitio en el tamaño que debe ser y evita que el usuario pueda hacer zoom en la página. -->
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
     
<!-- Iconos para el navegador (los íconos que aparecen en los tabs y en los bookmarks) -->
<link rel="shortcut icon" href="images/icono.ico">
<link rel="bookmark" href="images/icono.ico">
    
<!-- Iconos para ipad e iphone (íconos que aparecen en el home al momento de guardar la página) -->
<!-- Ícono usado para iphone 3gs para atrás -->
<link rel="apple-touch-icon" href="images/icons/apple-touch-icon-precomposed.png">
<!-- Ícono usado en ipads de anterior generación -->
<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72-precomposed.png">
<!-- Ícono utilizado en iphone 4 para adelante -->
<link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114-precomposed.png">
<!-- Ícono utilizado para ipads de nueva generación -->
<link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-touch-icon-144x144-precomposed.png">
    
<!-- Hojas de estilo base -->
<link rel="stylesheet" type="text/css" href="css/style.css"><!-- Hoja personalizada -->

<!-- Librería de jquery que contiene también la librería de jquery tools -->

<script src="../../bower_components/jquery/jquery.js"></script>
<script src="js/custom.js"></script>

<!-- Código que sirve para que internet explorer rendereé correctamente las etiquetas de html5 -->
<!--[if IE]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

</head>
<body>
<div id="body">
	<header id="main-header">
		<h1><a href="index.html">Alfonso Marina</a></h1>
		<nav id="main-nav">
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="quienes-somos.html">Acerca de</a></li>
				<li><a href="portada.html">Catálogo</a></li>
				<li><a href="noticias.html">Noticias</a></li>
				<li><a href="galeria.html">Galería</a></li>
                <li><a href="prensa.html">Prensa</a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav><!-- #main-nav -->
		<div id="aux-nav">
			<nav>
				<ul>
					<li><a href="login.html">Sign in</a></li>
					<li><a href="javascript:void(0);">Registro</a></li>
	            </ul>
	        </nav>
	        <a href="javascript:void(0);">Mis Favoritos</a>
	        <a href="javascript:void(0);" class="selected">ESP</a> -
	        <a href="javascript:void(0);">ENG</a>
	        <div class="search-box">
	        	<form action="/" id="frmBuscar" novalidate="novalidate">
	        	   	<input type="text" autocomplete="off" maxlength="50" id="q" name="q" placeholder="Búsqueda" class="text-label">
	                <input type="submit" title="Buscar" value="Buscar">
					<div class="listadoProductosAutoCompletar" id="listadoProductosAutoCompletar"></div>
	               	<div style="clear:both;"></div>
	            </form>
	        </div><!-- .search-box -->
	    </div><!-- #aux-nav -->
	</header><!-- #main-header -->

	<div id="wrapper">
		<div class="breadcrumb vertical">
			<a href="index.html">Inicio</a>
			<span>|</span>
			Contacto
		</div><!-- .breadcrumb -->

		<div class="registro">        
			<div class="acerca-principal-quienes acerca-principal-quienes-form">
				<p><img alt="Registro" src="images/imgRegistro.jpg"></p>
			</div>		
			<div class="acerca-secundario-quienes acerca-secundario-quienes-form">
				
				<form method="post" id="frmRegistro" data-ajax-update="#target" data-ajax-success="RFSuccess()" data-ajax-mode="replace" data-ajax-method="POST" data-ajax-failure="RFError()" data-ajax="true" action="/umbraco/Surface/Account/RegisterUser" novalidate="novalidate">    <h2>Registro<br>profesionistas</h2>
				    <div class="separador">
				        <input type="text" value="" placeholder="Nombre(s)" name="Nombre" id="Nombre" data-val-required="*" data-val="true" class="requerido text-label">
				        <input type="text" value="" placeholder="Apellidos" name="Apellidos" id="Apellidos" data-val-required="*" data-val="true" class="requerido text-label">
				        <input type="text" value="" placeholder="Nombre de usuario" name="NombreUsuario" id="NombreUsuario" data-val-required="*" data-val="true" class="requerido text-label">
				        <input type="email" value="" placeholder="Correo electrónico" name="Email" id="Email" data-val-required="The Email field is required." data-val-regex-pattern="^(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}$" data-val-regex="!" data-val="true" class="requerido text-label">
				    </div>
				    <div class="separador">
				        <input type="text" value="" placeholder="Empresa" name="Empresa" id="Empresa" data-val-required="*" data-val="true" class="requerido text-label">
				        <input type="text" value="" placeholder="Puesto" name="Puesto" id="Puesto" data-val-required="*" data-val="true" class="requerido text-label">
				        <input type="text" value="" placeholder="Website empresa" name="Website" id="Website" data-val-required="*" data-val="true" class="requerido text-label">
				    </div>
				    <div class="separador">
				        <input type="text" value="" placeholder="Dirección" name="Direccion1" id="Direccion1" data-val-required="*" data-val="true" class="requerido mediano text-label">
				        <input type="text" value="" placeholder="Colonia" name="Direccion2" id="Direccion2" class="mediano text-label">
				        <br>
				        <select title="País" placeholder="País" name="Pais" id="Pais">
					        <option value="0">País</option>
							<option value="Mexico">Mexico</option>
							<option value="Spain">Spain</option>
						</select>
				        <br>
				        <input type="text" value="" placeholder="Estado / Municipio" name="Estado" id="Estado" data-val-required="*" data-val="true" class="requerido mediano2 text-label">
				        <input type="text" value="" placeholder="Código Postal" name="CodigoPostal" id="CodigoPostal" class="mediano2 text-label">
				        <input type="text" value="" placeholder="Mobil" name="Movil" id="Movil" class="mediano2 text-label">
				        <input type="text" value="" placeholder="Teléfono" name="Telefono" id="Telefono" class="mediano2 text-label">
				    </div>
				    <div class="separador">
				        <label>
				            Organización Profesional</label>
				        <br>
				        <label>
				            <input type="checkbox" value="true" title="American Society of Interior Designers" name="RegistroAsid" id="RegistroAsid" data-val-required="The RegistroAsid field is required." data-val="true"><input type="hidden" value="false" name="RegistroAsid">
				        ASID</label>
				        <label>
				            <input type="checkbox" value="true" title="American Institute of Architects" name="RegistroAia" id="RegistroAia" data-val-required="The RegistroAia field is required." data-val="true"><input type="hidden" value="false" name="RegistroAia">
				            AIA</label>
				        <label>
				            <input type="checkbox" value="true" title="IBD" name="RegistroIbd" id="RegistroIbd" data-val-required="The RegistroIbd field is required." data-val="true"><input type="hidden" value="false" name="RegistroIbd">
				            IBD</label>
				        <br>
				        <select title="Motivo de afiliación" placeholder="Motivo de afiliación" name="Motivo" id="Motivo">
					        <option value="0">Motivo de afiliación</option>
							<option value="Soy Decorador">Soy Decorador</option>
							<option value="Soy Arquitecto">Soy Arquitecto</option>
							<option value="Soy Especificador">Soy Especificador</option>
							<option value="Otro">Otro</option>
						</select>
				        <select title="¿Cómo se enteró de nosotros?" placeholder="¿Cómo se enteró de nosotros?" name="ComoSeEntero" id="ComoSeEntero">
				        	<option value="0">Cómo se enteró de nosotros</option>
							<option value="Revista">Revista</option>
							<option value="Diseñador">Diseñador</option>
							<option value="Arquitecto">Arquitecto</option>
							<option value="Correo Electrónico/Newsletter">Correo Electrónico/Newsletter</option>
							<option value="Sitio Web/Buscador">Sitio Web/Buscador</option>
							<option value="Blog">Blog</option>
							<option value="Redes Sociales">Redes Sociales</option>
							<option value="Conocido/Amigo">Conocido/Amigo</option>
							<option value="Periódico">Periódico</option>
							<option value="Representante de Ventas">Representante de Ventas</option>
							<option value="Cuenta Existente">Cuenta Existente</option>
						</select>
				        <br>
				    </div>
				    <div class="separador">
				        <label>
				            * Campos obligatorios</label>
				        <br>
				        <label>
				            <input type="checkbox" value="true" name="RegistroFtk" id="RegistroFtk" data-val-required="The RegistroFtk field is required." data-val="true"><input type="hidden" value="false" name="RegistroFtk">
				            Registrarme a <em>Be the First to know</em>
				        </label><br>
				        <label>
				            <input type="checkbox" value="true" name="RegistroMailing" id="RegistroMailing" data-val-required="The RegistroMailing field is required." data-val="true"><input type="hidden" value="false" name="RegistroMailing">
				            Añadirme a la <em>Lista de correo</em>
				        </label>
				        <br>
				    </div>
				    <div class="separador">
				        <a href="http://www.alfonsomarinaebanista.com/es/terminos.aspx">Leer términos y condiciones</a>
				    </div>
				</form>
			</div>
			<br class="clear">
		</div>

		<br class="clear">
	</div><!-- #wrapper -->

	<footer id="main-footer">
			<footer id="inner-footer">
				<form >    
					<div id="newsletter">
		        		<input type="email" value="" placeholder="Email" name="Email" id="Email" data-val-required="The Email field is required." data-val-regex-pattern="^(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}$" data-val-regex="*" data-val="true" class="text-label">
		        		<input type="submit" id="news-submit" value="Suscribir" name="Submit">
		    		</div><!-- #newsletter --> 
				</form>
		        <p>&copy;Alfonso Marina Ebanista. Derechos Reservados 2015.</p>
		        <div id="social-media">
		        	<span class="tagline">Síguenos:</span>
                    <a class="btn-social facebook" href="https://www.facebook.com/pages/Alfonso-Marina-Ebanista/216426771801026?ref=aymt_homepage_panel" target="_blank">Facebook</a>
                    <a class="btn-social twitter" href="https://twitter.com/alfonsomarinamx" target="_blank">Twitter</a>
                    <a class="btn-social pinterest" href="http://pinterest.com/alfonsomarina/boards/" target="_blank">Pinterest</a>
                    <a class="btn-social instagram" href="http://instagram.com/alfonsomarinamx" target="_blank">Instagram</a>
                    <a class="btn-social dh" href="http://www.deringhall.com/designers/Alfonso-marina-ebanista" target="_blank">Dering Hall</a>
                </div><!-- #social-media -->
            </footer><!-- #main-footer -->
        </footer><!-- #inner-footer -->
</div><!-- #body -->
</body>
</html>