//Contact
.contact-info{
	float: left;
	width: 45%;
	margin-left: 10%;
	> img{
		margin-bottom: $margen-general;
	}
	.info{
		float: left;
		width: 50%;
		margin-bottom: $margen-general;
		img{
			min-width: initial;
		}
		h2{
			margin-bottom: 15px;
		}
		p{
			font-family: $sec-font;
		}
		a{
			width: 100%;
			display: inline-block;
			margin-bottom: 10px;
		}
	}
}
.contact-form{
	float: right;
	width: 33%;
	margin-right: 10%;
	text-align: center;
	border-bottom:1px solid #dcd9d4;
	font-family: $sec-font;
	padding-bottom: $padding-general;
	.field{
		width: 47%;
		float: left;
		margin-right: 10px;
		&.name{
			width: 98%;
			float: none;
		}
		&.how{
			label{
				float: left;
			}
		}
	}
	input[type="text"], input[type="number"], input[type="email"]{
		border:1px solid #dcd9d4;
		width: 98%;
		font-family: $sec-font;
		&.required{
			background: url(../images/icon-required.jpg) no-repeat top right;
		}
	}
	select{
		border:1px solid #dcd9d4;
		width: 103%;
		height: 24px;
		font-family: $sec-font;
	}
	textarea{
		width: 97%;
		resize:none;
		min-height: 100px;
		margin-bottom: 15px;
	}
	.required-fields{
		border-top:1px solid #dcd9d4;
		border-bottom:1px solid #dcd9d4;
		font-family: $sec-font;
		padding: 10px 0;
		margin-bottom: 10px;
		width: 98%;
		text-align: left;
	}
	input[type="submit"]{
		width: initial;
		height: initial;
		margin: 0 auto;
	}
}