// Product List by Category

.product-filter{
	margin-bottom: $margen-general;
	border: 1px solid $main-branding;
}
.product-list{
	padding: $padding-general;
	margin-bottom: $margen-general;
	h2{
		font-size: 14px;
	}
	a{
		text-align: center;
		display: inline-block;
		width: 24%;
		margin-bottom: $margen-general*2;
		img{
			min-width: initial;
		}
	}
}